{% extends 'base.html' %}
{% block content %}
{% include 'snippets/header.html' %}
<style type="text/css">
	.my-grid{
		border: 1px solid black;
	}
	.my-grid-item{
		border: 1px solid blue;
	}
	select{
		width: 100%;
	}
	option{
		font-size: 2rem;
	}
    .bt-submit{
        position: absolute;
        left: 45%;
        bottom: 10px;
        z-index: 1;
        width: 15vw;
        /* float: right;
        margin-right: 10%; */
    }
    .mark__input{
        width: 50px;
    }
    label{
        display: none;
    }
    input{
        width: 100%;
        padding: 1px 20px 1px 5px;
    }
    .border-r{
        border-right: 1px solid black;
    }
    .row {
        border: 1px solid black;
    }
    .user-marks {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<!-- Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ -->
        <div class="container-fluid">
            <div class="row text-center user-marks">
                <div class="col-2 border-r">
                    <div>
                        Matricule
                    </div>
                </div>
                <div class="col-4 border-r">
                    <div>
                    First name
                    </div>
                </div>
                <div class="col-4 border-r">
                    <div>
                    Last name
                    </div>
                </div>
                <div class="col-1">
                    <div>
                        Mark
                    </div>
                </div>
                <form action={% url 'show-marks' course_id id  %} method="POST"> {% csrf_token %}
                {% for marks in student_marks %}
                {% for f in form %}
                {% if forloop.counter == forloop.parentloop.counter %}
                <div class="row">
                <div class="col-2 py-2 border-r  text-center">
                    <div> {{marks.student.matricule_number}} </div>
                   
                </div>
                <div class="col-4 py-2 border-r  text-center">
                    <div> {{marks.student.first_name}} </div>
                </div>
                <div class="col-4 py-2 border-r  text-center">
                    <div> {{marks.student.last_name}} </div>
                </div>
                <div class="col-1 py-2">
                        <!-- {{form}} -->
                        {{f}}
                        <!-- <input class="mark__input" name="mark" type="number" value={{marks.ca_one}} autofocus> -->
                   
                </div>
            </div>
            
                {% endif %}
                {% endfor %}
                {% endfor %}
                <button class="btn btn-lg btn-primary bt-submit">submit</button>
            </form>
            </div>
        </div>
{% endblock content %}