{% extends 'base.html' %}
{% block content %}
{% include 'snippets/header.html' %}
<style type="text/css">
	.my-grid{
		border: 1px solid black;
	}
	.my-grid-item{
		border: 1px solid blue;
	}
	.add__attend {
		position: absolute;
		left: 40%;
		bottom: 5px;
		z-index: 1;
	}
</style>

<!-- Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ -->
<div class="container">
	{% if attendance %}
	<!-- <div class="d-flex justify-content-around">
	<div>COURSE ID</div>
	<div>COURSE CREDIT</div>
	<div>NUMBER OF HOURS REQUIRED</div>
	<div>LECTURER</div>
	</div> -->
	<div class="container">
		<div class="text-center bg-primary text-white">REGISTERED COURSES</div>
		<div class="row text-center">
			<div class="col-3"><div>COURSE ID</div></div>
			<div class="col-3"><div> COURSE CREDIT</div></div>
			<div class="col-3"><div>HOURS REQUIRED </div></div>
			<div class="col-3"><div>LECTURER</div></div>
		</div>
	</div>
	{% for attends in attendance %}
	<div class="row text-center">
		<div class="col-3"><div>{{attends.course}} </div></div>
		<div class="col-3"><div>{{attends.course.course_credit}} </div></div>
		<div class="col-3"><div>{{attends.course.course_hours}} </div></div>
		<div class="col-3"><div>{{attends.course.teacher}} </div></div>
	</div>
	
	{% endfor %}
	{%else%}
	<h1 class="text-center bg-success text-white">You have no course registered yet</h1>
	{%endif %}
	{% if course_marks %}
	 <div class="text-center bg-primary text-white">RESULTS</div>
	 <div class="container">
		 <div class="row text-center">
			 <div class="col-4">
				 COURSE NAME
			 </div>
			 <div class="col-4">
				 CONTINUOUS ASSESMENT
			 </div>
			 <div class="col-4">
				 EXAM
			 </div>
		 </div>
	 </div>
	{% for mark in course_marks %}
	<div class="row text-center">
		<div class="col-4">
			<div>{{mark.course}}</div>
		</div>
		<div class="col-4">
			<div>{{mark.ca}}</div>
		</div>
		<div class="col-4">
			<div>{{mark.exam}}</div>
		</div>
	</div>
	{% endfor %}
	{%else%}
	<div>Marks are not yet available</div>
	{%endif%}
<a class="btn btn-lg bg-primary text-white add__attend" href="{% url 'new-attendance' %}"> New attendance</a>
</div>
{% endblock content %}